---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <div
        class="font-light text-gray-500 sm:text-xl dark:text-gray-400 text-center"
    >
        Esta pagina no existe.
    </div>
</Layout>
